.form-control{
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 675px;
    height: 40px;
    padding: 8px 17px;
    margin-left: 95px;
    margin-bottom: 25px;
}

.cont-loader{

    margin-left: 45px;
    margin-top: 20px;
    display: flex;
}

.loader-esq{
    margin-left: 25px;
}

.loader-dir{
    margin-top: 25px;
    margin-left: -80px;
}

.container-resultado{
   
    width: 1251px;
    height: 387px;
    margin-left: 90px;
    margin-top: 54px;
    background: #F5F5F5;
    border-radius: 8px;
    padding-top: 24px;

}

.coluna1{
    display: flex;
    flex-direction: column;
   
}
.coluna2{
        
    display: flex;
    flex-direction: column;
   
}

.linhas-topo{   
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.container-img{   
    width: 280px;
    height: 280px;
    margin: 20px 45px 15px 30px; 
}

.container-total-repositorios{
   

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #595959;
    background: #fff;
    padding: 1px 15px;
    margin-right: 8px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;

    
}

.button-profile-cont{
    margin-left: 30px;  
}

.linhas-bottom{
    width: 870px;
    height: 245px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
}

.form-info{
    width: 840px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 15px 5px;
    padding: 8px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #737373;
}
.form-title{
    width: 535px;
    height: 30px;
    margin: 8px 0 20px 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890ff;
}
.style-image{
    width: 280px;
    height: 280px;
    margin: 20px 45px 15px 30px;
}

.info-container{
  
    height: 390px;
    width: 1250px;
    margin: 55px 50px;
    border-radius: 8px;
    background: #f5f5f5;
    display: flex;
}
.content-button{
    margin-left: 95px;
}
.content-geral{
    height: 270px;
    width: 1250px;
    margin: 55px 50px;
    background: #e6f7ff;
    border-radius: 16px;
}
.content-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    padding: 65px 95px 15px;
}
.link{
    text-decoration: none;
}