.btn-icon{
    padding: 16px 8px 16px 8px;
    background: #1890FF;
    border-radius: 4px;
    width: 101px;
    height: 40px; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #1890FF;   

}

.btn-text{   
    
    color:#FFF;
    font-size: 16px;     
}